.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b6059;
  border-radius: 10px;
  border: 2px solid #e0e0e0;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #6b6059 #e0e0e0;
}
